//- data
-
  var header = "Recent clients";
  var clientsList = [
    'asset/image/clients/picker-logo.JPG'
  ];
//- model
#clients
.clients
  .clients__header=header
  .clients__list
    each client in clientsList
      img(src=client)