$color-white: #fff;
$color-orange: orange;
$color-cyan: cyan;
$color-black: black;
$color-fiord: #415a67;
$color-amethyst-smoke: #A397B4;
$color-bouquet: #AE809E;
$color-blue-bell: #9999CC;
$color-can-can: #D591A4;


