-
  var menuList = [
    {
      label: 'Home',
      icon: 'home',
      link: '#landing-page'
    },
    {
      label: 'About me',
      icon: 'hipster2',
      link: '#about-me'
    },
    {
      label: 'Awards',
      icon: 'trophy',
      link: '#award'
    },
    {
      label: 'What I can do',
      icon: 'hammer',
      link: '#what-i-can-do'
    },
    {
      label: 'Experience',
      icon: 'airplane',
      link: '#experience'
    },
    {
      label: 'Recent Clients',
      icon: 'briefcase',
      link: '#clients'
    },
    //- {
    //-   label: '',
    //-   icon: '',
    //-   link: ''
    //- },
  ]

#menu
a.menu__go-to(href="#menu")
  span.my-cv_icon--menu
.menu
  .menu__list
      each menu in menuList
        a.menu__link(href=menu.link)
          span(class=`my-cv_icon--${menu.icon}`)
          span=menu.label



