extends _component/layout/page
block cool-config 
  -
    var myTitleForGoogleSearch = 'Eduard Cozma CV';
    var myDescriptionForGoogleSearch = 'This is made to show some of the technologies I can use';
block awesome-content
  h1 this is it
  include _component/landing-page/landing-page
  include _component/about-section/about-me
  include _component/award/award
